// ############################################################################
// Component: CMS
// ############################################################################

.shell-panel {

  display: block;
  padding: 2rem;
  transition: $animation-speed-slow;
  transition-delay: 200ms;
  background-color: rgba($color-black, 0.8);
  color: $color-white;
  border-radius: 4px;

  @include small {

  }

  @include medium {
    position: absolute;
    width: calc(100% - 350px);

    max-width: 800px;
    right: 4rem;
    top: 6rem;
    min-height: 500px;
    max-height: 800px;
    transform: perspective(600px) rotateY(-20deg);
  }

  a {
    background-color: rgba($color-white, 0.1);
    border-bottom: 1px solid $color-white;
    color: $color-white;
  }

  .reveal-appear {
    position: absolute;
    opacity: 0.01;
    transform: translateY(-10px);
  }

  .reveal-appear.reveal-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
    transform: translateY(0);
  }
}
