// ############################################################################
// Component: CMS
// ############################################################################

.shell-panel {

  display: block;
  background-color: rgba($color-black, 0.4);
  color: $color-white;
  border-radius: 4px;
  border: 1px solid rgba($color-black, 0.2);
  backdrop-filter: blur(3px);
  z-index: 2;

  @include medium {
    position: absolute;
    width: calc(100% - 350px);
    right: 4rem;
    top: 6rem;
    min-height: 500px;
    max-height: 800px;
    max-width: 800px;
    transform: perspective(600px) rotateY(-20deg) rotateX(-4deg);
    overflow: hidden;

    &::before {
      position: absolute;
      width: 100%;

      max-width: 800px;
      min-height: 500px;
      max-height: 800px;
      content: "";
      background-color: rgba($color-black, 0.4);
      border-radius: 4px;
      z-index: -1;
      margin-left: 8px;
      margin-top: 8px;
    }
  }

  &__content {
    margin: 2rem;
  }

  a {
    background-color: rgba($color-white, 0.1);
    border-bottom: 1px solid $color-white;
    color: $color-white;
  }

  .reveal-appear {
    position: absolute;
    opacity: 0.01;
    transform: translateY(-10px);
  }

  .reveal-appear.reveal-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
    transform: translateY(0);
  }
}
