// ############################################################################
// Component: CMS
// ############################################################################

.shell-panel {

  $panel-header-size: 54px;
  $panel-footer-size: 80px;

  display: block;
  z-index: 2;

  //////////////////////////////////
  // Vertical breaks
  //////////////////////////////////

  @include breakpoint-height(768px) {
    max-height: 580px;
    height: 100vh;
  }

  @include breakpoint-height(800px) {
    max-height: 650px;
  }

  @include breakpoint-height(1200px) {
    max-height: 900px;
  }

  //////////////////////////////////
  // Horizontal breaks
  //////////////////////////////////

  @include medium {
    display: flex;
    position: absolute;
    width: calc(100% - 400px);
    left: 280px;
    top: 6rem;
    flex-direction: column;
    max-width: 800px;
    transform: perspective(900px) rotateY(-20deg) rotateX(-4deg);
    overflow: hidden;
  }

  @include breakpoint(1140px) {
    width: calc(100% - 420px);
  }

  @include large {
    top: 8rem;
    width: calc(100% - 370px);
  }

  &__header {
    display: flex;
    height: $panel-header-size;
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(3px);
    margin-bottom: 2px;
  }

  &__title {
    display: none;

    @include large {
      display: block;
      width: 100%;
      margin: 0;
      padding: 6px;
      font-size: 0.75rem;
      text-transform: uppercase;
      border-bottom: 1px solid $color-borders-alt;
      border-left: 30px solid $color-borders-alt;
      border-right: 4px solid $color-borders-alt;
      color: $color-body-alt;
      font-weight: bold;
    }
  }

  &__split {
    height: 100%;
    overflow: hidden;

    @include medium {
      display: flex;
    }
  }

  &__content {
    @include scrollbars;
    margin: 1px;
    padding: 1rem;
    border: 1px solid red;
    height: 100%;
    overflow: auto;
    border: 1px solid rgba($color-black, 0.2);

    @include large {
      width: 100%;
    }

    p {
      font-size: 1.1rem;
    }

    a {
      color: $color-body;
    }
  }

  &__sidebar {
    width: 100%;

    @include medium {
      width: 300px;
    }
  }

  &__footer {
    display: block;
    height: $panel-footer-size;
    width: 100%;
    overflow: hidden;
  }

  &__actions {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-right: 1px solid $color-borders-alt;

    @include large {
      width: auto;
    }
  }
}
