// ############################################################################
// Component: BIO
// ############################################################################

.shell-bio {
  display: block;
  max-width: 400px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba($color-white, 0.2);
  border-radius: 4px;
  transition: $animation-speed-slow;
  transition-delay: 200ms;
  backdrop-filter: blur(4px);

  @include medium {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 300px;
    transform: perspective(600px) rotateY(45deg);
    padding: 2rem;
  }

  &:hover {

    @include medium {
      transform: translateX(10px) perspective(600px) rotateY(40deg);
    }
  }

  a {
    color: $color-body;
    border-bottom: 1px solid $color-body;
    text-decoration: none;
    transition: $animation-speed;
    background-color: rgba($color-body, 0.1);

    &:hover,
    &:focus {
      color: $color-link;
      border-bottom: 1px solid $color-link-active;
    }
  }

}
