// ############################################################################
// Component: CMS
// ############################################################################

.shell-bio {

  display: block;
  position: absolute;
  top: 4rem;
  left: 1rem;
  padding: 3rem;
  width: 300px;
  background-color: rgba($color-black, 0.2);
  border-radius: 4px;
  transform: perspective(600px) rotateY(45deg);
  transition: $animation-speed-slow;
  transition-delay: 200ms;

  &:hover {
    transform: translateX(10px) perspective(600px) rotateY(40deg);
  }
}
