// ############################################################################
// Component: BusySignal
// ############################################################################

.shell-navigationtabs {

  &__nav {
    display: flex;
  }

  &__link {
    display: block;
    width: 50%;
    margin-right: 2px;
  }
}