// ############################################################################
// Component: BusySignal
// ############################################################################

.shell-navigationtabs {

  margin: 1rem;

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }

  &__link {
    line-height: 64px;
  }
}