.shell-button {
  display: block;
  position: relative;
  padding: 4px 8px;
  background: linear-gradient(176deg, rgba(205,205,205,0.2959558823529411) 0%, rgba(69,115,247,0) 100%);
  background-color: rgba($color-white, 0.1);

  color: $color-body-alt;
  font-size: 1.2rem;
  font-family: $base-font-heading;
  text-decoration: none;
  border-top: 3px solid rgba($color-white, 0.1);
  border-bottom: 1px solid $color-white;

  &:hover,
  &:focus {
    border-bottom: 1px solid $color-primary;
  }

  &.active {
    @include text-shadow;
    background: linear-gradient(176deg, rgba(97,127,191,0.427608543417367) 0%, rgba(69,115,247,0) 100%);
    border-top: 3px solid $color-link-active;
    border-bottom: 1px solid rgba($color-white, 0.1);
    color: $color-white;
  }

  & > svg {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    height: 1rem;
  }
}