body {
  font-family: $base-font-body;
  width: 100vw;
  overflow-x: hidden;
}

.shell {
  display: block;
  position: relative;
  width: 100vw;
  margin: 0 auto;

  @include medium {
    max-width: 1200px;
  }
}