// ############################################################################
// Component: CMS
// ############################################################################

.shell-cms {

  h1,
  h2,
  h3,
  h4 {
    @include text-shadow-alt;
    margin-top: 0;
    font-family: $base-font-heading;
  }

  h1 {
    margin-left: -2px;
  }
}
