// ############################################################################
// Component: SIDEBAR
// ############################################################################

.shell-sidebar {
  position: relative;
  height: 100%;

  @include medium {
    width: 200px;
  }
}
