@mixin text-shadow {
  text-shadow: 1px 1px 0 $color-text-shadow;
}

@mixin text-shadow-alt {
  text-shadow: 1px 1px 0 $color-text-shadow-alt;
}

@mixin text-shadow-alt-left {
  text-shadow: -3px 2px 0 $color-text-shadow-alt;
}

@mixin text-shadow-alt-left-shallow {
  text-shadow: -2px -1px 0 $color-text-shadow-alt;
}
